body {
    background: #ddebf8;
    margin: 2rem auto;
  }
profile-name{
    font-size: 50pt;
}
.crumb{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    font-size: 40pt;
    color: rgb(83, 83, 209);
    text-decoration-style: solid ;  
    text-decoration: underline rgb(83, 83, 209);  
}
ol{
    margin: 25px;
    font-size: 20pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  nav {
	border-bottom: 2px solid rgb(83, 83, 209);
    text-align: center;
    font-family:'Times New Roman', Times, serif

}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: rgb(27, 119, 47);
}

a:visited {
	color: rgb(51, 51, 51);
}
.intro{
    margin: 25px;
    display: flex;
    flex-direction: row;
}
h2{
    text-decoration: double;
    font-size: 15pt;
    
}